<h1 mat-dialog-title>NEW {{data}}</h1>

<div class="registerDiv">
    <!-- <div id="signIn"><a [routerLink]="['/login']">SIGN IN</a></div>
            <div id="signUp">SIGN UP</div> -->

    <form id="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field id="fullName">
            <input matInput formControlName="fullName" type="text" placeholder="Full Name">
        </mat-form-field>
        <mat-form-field id="email">
            <input matInput formControlName="email" type="text" placeholder="Email" required>
            <mat-error *ngIf="errorHandler.handleError(formControls, 'email', 'required')">
                {{ errorHandler.validationMessages['required'] }}
            </mat-error>
            <mat-error *ngIf="errorHandler.handleError(formControls, 'email', 'email')">
                {{ errorHandler.validationMessages['email'] }}
            </mat-error>
        </mat-form-field>
        <mat-form-field id="password">
            <input matInput formControlName="password" type="password" placeholder="Password" required>
            <mat-error *ngIf="errorHandler.handleError(formControls, 'password', 'required')">
                {{ errorHandler.validationMessages['required'] }}
            </mat-error>
        </mat-form-field>
        <mat-form-field id="companyName">
            <input matInput formControlName="companyName" type="text" placeholder="Company Name">
        </mat-form-field>
        <mat-form-field id="address">
            <!-- <input matInput formControlName="address" type="text" placeholder="Address"> -->
            <input matInput id="address" formControlName="address" placeholder="Address" matGoogleMapsAutocomplete
                [country]="country" (onAutocompleteSelected)="onAutocompleteSelected($event)"
                (onLocationSelected)="onLocationSelected($event)" (blur)="this.onAddressLostFocus()">
            <mat-error *ngIf="errorHandler.handleError(formControls, 'address', 'required')">
                {{ errorHandler.validationMessages['required'] }}
            </mat-error>
        </mat-form-field>
        <mat-form-field id="zip">
            <input matInput formControlName="zip" type="text" (keyup)="onZipChanged()" placeholder="Zip" maxlength="5"
                inputmode="numeric" pattern="[0-9]*" digitOnly>
            <!-- <mat-error *ngIf="invalidZip">
                        {{ errorHandler.validationMessages['invalidZip'] }}
                    </mat-error> -->
        </mat-form-field>


        <div formArrayName="phonez" id="phonez" *ngFor="let pickupPhone of phonez.controls; let i = index">
            <div [formGroupName]="i" class="phonesGrid">

                <!-- Phone -->
                <mat-form-field id="phone">
                    <input matInput id="pickupPhone{{i + 1}}" formControlName="phone" placeholder="Phone {{i + 1}}"
                        [textMask]="{mask: phoneMask}">

                </mat-form-field>
                <!-- <div class="notesgrid"> -->

                <!-- Phone notes -->
                <!-- <mat-form-field class="note">
                                <input matInput id="pickupPhoneNote{{i + 1}}" formControlName="note"
                                    placeholder="Phone {{i + 1}} notes">
                            </mat-form-field> -->
                <mat-icon id="phoneClose" *ngIf="this.phonez.length != 1" (click)="onRemovePhoneControl(this.phonez, i)"
                    class="close">close</mat-icon>
                <div id="addPhone">
                    <button class="addButton" type="button"
                        *ngIf="this.phonez.length != 3 && i === this.phonez.length - 1"
                        (click)="onAddPhoneControl(this.phonez)"></button></div>
                <!-- </div> -->
            </div>

        </div>

        <div mat-dialog-actions>
            <button mat-button (click)="onCloseClick()" type="button">Close</button>
            <button id="submitButton" mat-button [mat-dialog-close] type="submit">ADD</button>
        </div>
    </form>
</div>