<!-- <div>
    <mat-checkbox class="mat-stroked-button" style="border: 1 px solid; text-decoration-line: none;" formControlName="enclosedTrailer">Enclosed trailer</mat-checkbox>
</div> -->
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading...</p>
</ngx-spinner>
<main>
  <mat-toolbar id=orderStatus>
    <span [ngClass]="getClassByStatus('all')" (click)="onStatusClick('all')">All ({{ all }})</span>
    <!-- <a href="#" class="rectangle"><mat-icon>check</mat-icon>All ({{ all }})</a>
    <a href="#" class="rectangle blueButton"><mat-icon>check</mat-icon>All ({{ all }})</a>
    <a href="#" class="rectangle redButton"><mat-icon>check</mat-icon>All ({{ all }})</a>
    <a href="#" class="rectangle greenButton"><mat-icon>check</mat-icon>All ({{ all }})</a> -->
    <!-- <button mat-stroked-button>New ({{ new }})</button> -->
    <span [ngClass]="getClassByStatus('new')" (click)="onStatusClick('new')">New ({{ new }})</span>
    <!-- <button class="ovalButtonChecked" style="position: relative"><mat-icon style="position: absolute; left: 5px; margin: auto">check</mat-icon>New ({{ new }})</button> -->
    <!-- <span [ngClass]="getClassByStatus('booked')" (click)="onStatusClick('booked')">Booked ({{ booked }})</span> -->
    <span id="accepted" [ngClass]="getClassByStatus('accepted')" (click)="onStatusClick('accepted')">Accepted
      ({{ accepted }})</span>
    <span id="assigned" [ngClass]="getClassByStatus('assigned')" (click)="onStatusClick('assigned')">Assigned
      ({{ assigned }})</span>
    <span [ngClass]="getClassByStatus('pickedup')" (click)="onStatusClick('pickedup')">Picked up ({{ pickedup }})</span>
    <span [ngClass]="getClassByStatus('delivered')" (click)="onStatusClick('delivered')">Delivered
      ({{ delivered }})</span>
  </mat-toolbar>

  <div id="search">
    <!-- <a id="searchIcon" href="#">
      <mat-icon>search</mat-icon>
    </a> -->
    <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="none">
        <input matInput id="searchText" type="text" formControlName="searchText" (change)="onSearchChanged()" placeholder="Type: Order ID, Driver, Make or Model">
      </mat-form-field>
      <button mat-button id="searchIcon" href="#" type=submit>
          <mat-icon>search</mat-icon>
      </button>
    </form>
  </div>

  <mat-nav-list id="list">
    <!-- [ngClass]="(selectedOrder.id === order.id) ? 'selectedItem' : ''" -->
    <!-- // 102px of item height -->
    <cdk-virtual-scroll-viewport itemSize="102">
      <mat-list-item *cdkVirtualFor="let order of orders | paginate: config; let i = index"
        [ngClass]="(selectedOrder === order) ? 'selectedListItem' : ''" (click)="this.onItemClick(order, i)">

        <!-- <cdk-virtual-scroll-viewport itemSize="18" style="height:40vh">
                <div *cdkVirtualFor="let item of list">{{item}}</div>
            </cdk-virtual-scroll-viewport> -->
        <!-- <a matLine href=" ">{{ order.brokerContactName }}</a> -->
        <p matLine>
          <span>
            {{ order.id }}
            {{ order.orderStatus }}
          </span>
        </p>
        <p matLine>
          <span>
            {{ order.brokerContactName }}
          </span>
        </p>
        <p matLine>
          <span>
            {{ order.vehicleYear }}
            {{ order.vehicleMake }}
          </span>
        </p>
        <p matLine>
          <span>
            {{ order.pickupAddress }}
          </span>
        </p>
        <p matLine>
          <span>
            {{ order.deliveryAddress }}
          </span>
        </p>
        <mat-divider></mat-divider>
      </mat-list-item>
      <!-- <pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls> -->
    </cdk-virtual-scroll-viewport>
  </mat-nav-list>
  <pagination-controls (pageChange)="pageChange($event)" class="pagination"></pagination-controls>
  <!-- <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
    <div *cdkVirtualFor="let order of orders" class="example-item">{{order.brokerContactName}}</div>
  </cdk-virtual-scroll-viewport> -->

  <div id="detail">
    <div id="summary">
      <h2>Order {{selectedOrder !== null ? selectedOrder.id : '#'}}
        {{ selectedOrder !== null ? selectedOrder.orderStatus : '' }}
        <ng-container *ngIf="selectedOrder !== null && selectedOrder.orderStatus === 'NEW'">
          <mat-icon id="editOrder">edit</mat-icon>
        </ng-container>
      </h2>
    </div>
    <div id="detailLeft">
      <mat-card id="driver">
        <mat-card-subtitle>
          <mat-icon>person</mat-icon> DRIVER
        </mat-card-subtitle>
        <div id="assignDriverAction" *ngIf="orders.length > 0">
          <div *ngIf="selectedOrder !== null && selectedOrder.assignedToDriver !== null">
            <div>
              {{ selectedOrder.assignedToDriver.fullName !== null ? selectedOrder.assignedToDriver.fullName : selectedOrder.assignedToDriver.email}}
            </div>
          </div>
          <button mat-button [ngClass]="'ovalShape'" (click)="onAssignDriver(selectedOrder.id)" type="button">
            {{selectedOrder === null || selectedOrder.assignedToDriver === null ? 'ASSIGN DRIVER' : 'REASSIGN DRIVER'}}</button>
        </div>
        <div *ngIf="selectedOrder !== null && selectedOrder.assignedToDriver !== null">
          <!-- <div>
            {{ selectedOrder.assignedToDriver.fullName !== null ? selectedOrder.assignedToDriver.fullName : selectedOrder.assignedToDriver.email}}
          </div> -->
          <div>
            <mat-icon>phone</mat-icon>
          </div>
          <div>
            <mat-icon>email</mat-icon>
          </div>
          <div>
            <mat-icon>directions_car</mat-icon>
          </div>
        </div>
      </mat-card>
      <mat-card id="vehicle">
        <mat-card-subtitle>
          <mat-icon>directions_car</mat-icon> VEHICLE
        </mat-card-subtitle>
        <b><span>{{selectedOrder !== null ? selectedOrder.vehicleYear : ''}} </span>
          <span>{{selectedOrder !== null ? selectedOrder.vehicleMake : ''}} </span>
          <span>{{selectedOrder !== null ? selectedOrder.vehicleModel : ''}} </span></b>
        <span>{{selectedOrder !== null ? selectedOrder.vehicleAutoType : ''}}</span>
      </mat-card>
      <mat-card id="pickupAndDelivery">
        <div id="pickup">
          <mat-card-subtitle>
            <mat-icon>arrow_upward</mat-icon> PICKUP
          </mat-card-subtitle>
          <ng-container *ngIf="orders.length > 0">
            <div>
              <mat-icon>location_on</mat-icon><b>{{selectedOrder !== null ? selectedOrder.pickupAddress : ''}}</b>
            </div>
            <div>
              <mat-icon>person</mat-icon>{{selectedOrder !== null ? selectedOrder.pickupContactName : ''}}
            </div>
            <!-- <div>
            <mat-icon>phone</mat-icon>{{selectedOrder !== null ? getKey(selectedOrder.pickupPhones) : ''}}
          </div> -->
            <ng-container *ngIf="selectedOrder !== null">
              <div *ngFor="let phone of getKeys(selectedOrder.pickupPhones)">
                <div>
                  <mat-icon>phone</mat-icon>{{selectedOrder !== null ? phone : ''}}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
        <div id="delivery">
          <mat-card-subtitle>
            <mat-icon>arrow_downward</mat-icon> DELIVERY
          </mat-card-subtitle>
          <ng-container *ngIf="orders.length > 0">
            <div>
              <mat-icon>location_on</mat-icon><b>{{selectedOrder !== null ? selectedOrder.deliveryAddress : ''}}</b>
            </div>
            <div>
              <mat-icon>person</mat-icon>{{selectedOrder !== null ? selectedOrder.deliveryContactName : ''}}
            </div>
            <!-- <div>
            <mat-icon>phone</mat-icon>{{selectedOrder !== null ? getKey(selectedOrder.deliveryPhones) : ''}}
          </div> -->
            <ng-container *ngIf="selectedOrder !== null">
              <div *ngFor="let phone of getKeys(selectedOrder.deliveryPhones)">
                <div>
                  <mat-icon>phone</mat-icon>{{selectedOrder !== null ? phone : ''}}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-card>
      <mat-card id="dispatchInstructions">
        <mat-card-subtitle>
          <mat-icon>comment</mat-icon> DISPATCH INSTRUCTIONS
        </mat-card-subtitle>
        <div *ngIf="orders.length > 0">
          {{getDispatchInstructions()}}
        </div>
      </mat-card>
      <div id="attachments">
        <hr>
        <h4>
          <mat-icon>attach_file</mat-icon> ATTACHMENTS
        </h4>
        <ng-container *ngIf="orders.length > 0">
          <p id="dropFiles">
            <mat-icon>cloud_upload</mat-icon>Drop files here or Browse your local drive
          </p>
        </ng-container>
      </div>
      <div>
        <ng-container *ngIf="orders.length > 0">
          <mat-icon>cloud_download</mat-icon>
        </ng-container>
      </div>
    </div>
    <div id="detailRight">
      <mat-card id="payment">
        <mat-card-subtitle id="paymentTitle">
          <mat-icon>attach_money</mat-icon> PAYMENT
        </mat-card-subtitle>
        <ng-container *ngIf="orders.length > 0">
          <div id="carrierPay">Carrier Pay</div>
          <div id="carrierPayValue">{{selectedOrder !== null ? this.selectedOrder.carrierPay : ''}}</div>
          <div id="onDelivery">On Delivery</div>
          <div id="onDeliveryValue">{{selectedOrder !== null ? this.selectedOrder.amountOnDelivery : ''}}</div>
          <div id="receivables">Receivables</div>
          <div id="receivablesValue"></div>
          <div id="paymentAction"><button mat-button [ngClass]="'ovalShape'">VERIFY
              PAYMENT</button></div>
        </ng-container>
      </mat-card>
      <mat-card id="activity">
        <mat-card-subtitle>
          <mat-icon>local_activity</mat-icon> ACTIVITY
        </mat-card-subtitle>
        <!-- <div id="bookAction" *ngIf="isAssigned()"><button mat-button [ngClass]="'ovalShape'"
            (click)="bookClicked()">BOOK ORDER</button></div> -->


        <div id="auditResponseList">
          <!-- [ngClass]="(selectedOrder.id === order.id) ? 'selectedItem' : ''" -->
          <div *ngFor="let response of auditResponse">
            <div class="activityList">

              <!-- Rev # {{ response.revision }} -->
              <ng-container *ngIf="response.operation === 'ADD'">
                <!-- <div class="createRow"> -->
                <span class="timestamp">{{ response.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                <span id="newOrderMessage">{{ getActionString(response, null) }}</span><br>
                <!-- </div> -->
              </ng-container>
              <ng-container *ngIf="response.operation === 'MOD'">
                <div class="modifiedProperties">

                  <!-- <div id="timestamp">{{ response.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}&nbsp;</div> -->
                  <!-- <div id="optionalTitle" *ngIf="response.changedProperties.length > 1">{{getName(response)}} changed:</div> -->

                  <!-- Book Order / Invititation button -->
                  <div id="changedPropertiesList" *ngFor="let property of response.changedProperties">
                    <div class="timestamp">{{ response.timestamp | date:'yyyy-MM-dd HH:mm:ss' }}</div>
                    <div id="message">{{ getActionString(response, property) }} </div>
                    <div id="bookButton"><button mat-button *ngIf="showBookOrder(property.propertyName, property.value)"
                        [ngClass]="'ovalShape'" (click)="openBookingDialog(property.value)">Book Order</button>
                    </div>
                    <div id="invitationButton"><button mat-button
                        *ngIf="showBookOrder(property.propertyName, property.value)" [ngClass]="'ovalShape'"
                        (click)="openInvitationDialog(property.value)">Order Invitation</button>
                    </div>
                    <!-- </div> -->
                  </div>

                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </mat-card>
      <mat-card id="shipper">
        <mat-card-subtitle>
          <mat-icon>people</mat-icon> SHIPPER
        </mat-card-subtitle>
        <ng-container *ngIf="orders.length > 0">
          <div>
            <mat-icon>person</mat-icon><b>{{selectedOrder !== null ? selectedOrder.brokerCompanyName : ''}}</b>
          </div>
          <div>
            <mat-icon>location_on</mat-icon>{{selectedOrder !== null ? selectedOrder.brokerAddress : ''}}
          </div>
          <ng-container *ngIf="selectedOrder !== null">
            <div *ngFor="let phone of getKeys(selectedOrder.shipperPhones)">
              <div>
                <mat-icon>phone</mat-icon>{{selectedOrder !== null ? phone : ''}}
              </div>
            </div>
          </ng-container>
          <div>
            <mat-icon>email</mat-icon>{{selectedOrder !== null ? selectedOrder.brokerEmail : ''}}
          </div>
        </ng-container>
      </mat-card>
    </div>
  </div>
</main>