<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="large">
    <p class="loading"></p>
</ngx-spinner>
<main>
    <!-- <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading">Loading...</p>
    </ngx-spinner> -->
    <mat-toolbar id="newOrderOptions">
        <!-- <button mat-button><mat-icon matPrefix>search</mat-icon></button> -->
        <form id="searchForm" [formGroup]="searchForm" (ngSubmit)="onSubmitSearch()">
            <mat-form-field id="search">
                <input matInput id="searchText" type="text" formControlName="searchText" (change)="onSearchChanged()" placeholder="Type: Order ID, Make or Model">
                <!-- <mat-icon matSuffix>search</mat-icon> -->
            </mat-form-field>

            <button mat-button id="searchIcon" href="#" type=submit>
                <mat-icon matPrefix>search</mat-icon>
            </button>
        </form>
        &nbsp;|&nbsp;
        <button id="origin" mat-stroked-button (click)="showFiltersDialog()">
            Add an Origin
        </button>
        &nbsp;
        <mat-icon>compare_arrows</mat-icon>
        &nbsp;
        <button mat-stroked-button (click)="showFiltersDialog()">
            Add a Destination
        </button>
        &nbsp;
        <button mat-button [matBadge]="matBadgeCount()" [matBadgeHidden]="matBadgeCount() === 0" matBadgePosition="after" (click)="showFiltersDialog()">
            Filters <mat-icon>filter_list</mat-icon>
        </button>
        &nbsp;
        <button mat-button>
            Saved <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </mat-toolbar>

    <cdk-virtual-scroll-viewport itemSize="127">
        <div id="list">
            <mat-card id="listItem" *cdkVirtualFor="let order of orders | paginate: config; let i = index">
                <!-- <div id="listItem"> -->
                <div id="grid1">
                    <!-- <div>{{ order.createdBy !== null && order.createdBy.email === this.authenticationService.currentUserValue.email }}</div> -->
                    <!-- <div>{{shouldDisplayAddress(order)}}</div> -->
                    <div matLine>Created By {{ order.createdBy.email }}</div>
                    <div matLine *ngIf="shouldDisplayAddress(order)">{{ order.pickupAddress }}&nbsp;</div>
                    <div matLine>Pickup Zip {{ order.pickupZip }}</div>
                    <div matLine>EST. {{ order.pickupDates.begin }} - EST. {{ order.pickupDates.end }}</div>
                    <div matLine># <b>{{ order.id }}</b></div>
                </div>

                <div id="grid2">
                    <!-- <div>{{shouldDisplayAddress(order)}}</div> -->
                    <div matLine *ngIf="shouldDisplayAddress(order)">{{ order.deliveryAddress }}&nbsp;</div>
                    <div matLine>Delivery Zip {{ order.deliveryZip }}</div>
                    <div matLine>EST. {{ order.deliveryDates.begin }} - EST. {{ order.deliveryDates.end }}</div>
                </div>

                <div id="grid3">
                    <div matLine>{{ order.vehicleYear }} {{ order.vehicleMake }} {{ order.vehicleModel }}
                        <span class="inoperable" *ngIf="order.vehicleInoperable">Inoperable
                        </span>{{ order.vehicleAutoType }}</div>
                    <div matLine>{{ order.paymentMethod}}</div>
                </div>

                <div id="grid4">
                    <div matLine>{{ order.carrierPay }}</div>
                    <div matLine><strong>{{ order.distance * 0.00062137 | number:'1.2-2'}} mi</strong></div>
                    <div matLine>
                        <!-- <button mat-stroked-button [routerLink]="['/asktobook']">ASK TO BOOK</button><br> -->
                        <button id="askToBookButton" mat-button (click)="showDialog(order, i)">BOOKING
                            REQUEST</button><br>
                        <button id="viewDetailsButton" mat-button>VIEW DETAILS</button>
                    </div>
                </div>
                <!-- </div> -->
            </mat-card>
        </div>
    </cdk-virtual-scroll-viewport>
    <pagination-controls (pageChange)="pageChange($event)" class="pagination"></pagination-controls>
    <app-ask-to-book-dialog></app-ask-to-book-dialog>
</main>