<main>
    <mat-toolbar id="newOrderOptions">
        <mat-form-field id="search">
            <input matInput type="search">
            <!-- <mat-icon matSuffix>search</mat-icon> -->
        </mat-form-field>
        &nbsp;|&nbsp;
        <button id="origin" mat-stroked-button>
            Add an Origin
        </button>
        &nbsp;
        <mat-icon>compare_arrows</mat-icon>
        &nbsp;
        <button mat-stroked-button>
            Add a Destination
        </button>
        &nbsp;
        <button mat-button [routerLink]="['/searchfilters']">
            Filters <mat-icon>filter_list</mat-icon>
        </button>
        &nbsp;
        <button mat-button>
            Saved <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
    </mat-toolbar>

    <div id="list">
        <mat-card id="listItem" *ngFor="let order of orders; let i = index">
            <!-- <div id="listItem"> -->
                <div id="grid1">
                    <div matLine>{{ order.pickupAddress }}</div>
                    <div matLine>EST. {{ order.pickupDates.begin }} - EST. {{ order.pickupDates.end }}</div>
                    <div matLine># <b>{{ order.id }}</b></div>
                </div>

                <div id="grid2">
                    <div matLine>{{ order.deliveryAddress }}</div>
                    <div matLine>EST. {{ order.deliveryDates.begin }} - EST. {{ order.deliveryDates.end }}</div>
                </div>

                <div id="grid3">
                    <div matLine>{{ order.vehicleYear }} {{ order.vehicleMake }} {{ order.vehicleModel }}
                        <span class="inoperable" *ngIf="order.vehicleInoperable">Inoperable
                        </span>{{ order.vehicleAutoType }}</div>
                    <div matLine>{{ order.paymentMethod}}</div>
                </div>

                <div id="grid4">
                    <div matLine>{{ order.carrierPay }}</div>
                    <div matLine>
                        <!-- <button mat-stroked-button [routerLink]="['/asktobook']">ASK TO BOOK</button><br> -->
                        <button id="askToBookButton" mat-button (click)="showDialog(order, i)">ASK TO BOOK</button><br><br>
                        <button id="viewDetailsButton" mat-button>VIEW DETAILS</button>
                    </div>
                </div>
            <!-- </div> -->
            </mat-card>
        </div>
    <app-ask-to-book-dialog></app-ask-to-book-dialog>
</main>