<h1 mat-dialog-title>Offer Received For Load ID # {{data.order.id}}</h1>
<form id="inviteForm" mat-dialog-content [formGroup]="inviteForm">
    <mat-card id="summary">
        <div><strong>Carrier pay</strong>&nbsp;${{data.order.carrierPay}}</div>
        <div><strong>Payment term begins</strong>&nbsp;{{data.order.paymentTermBegins}}</div>
        <div>
            <strong><span>Pickup</span></strong>
            <div *ngIf="shouldDisplayAddress(data)">Address: {{ data.order.pickupAddress }}</div>
            <div>Zip: {{ data.order.pickupZip }}</div>
            <div>Estimated dates: {{ data.order.pickupDates.begin }} to {{ data.order.pickupDates.end }}</div>
            <div>Preferred date: {{ data.order.preferredPickupDate | date:'yyyy-MM-dd' }}</div>
            <div>Committed date: {{ data.orderCarrier.committedPickupDate | date:'yyyy-MM-dd' }}</div>
        </div>
        <div>
            <strong><span>Delivery</span></strong>
            <div *ngIf="shouldDisplayAddress(data)">Address: {{ data.order.deliveryAddress }}</div>
            <div>Zip: {{ data.order.deliveryZip }}</div>
            <div>Estimated dates: {{ data.order.deliveryDates.begin }} to {{ data.order.deliveryDates.end }}</div>
            <div>Preferred date: {{ data.order.preferredDeliveryDate | date:'yyyy-MM-dd' }}</div>
            <div>Committed date: {{ data.orderCarrier.committedDeliveryDate | date:'yyyy-MM-dd' }}</div>
        </div>
        <div><strong>Distance</strong>&nbsp;{{ data.order.distance * 0.00062137 | number:'1.2-2'}} mi</div>
        <div><strong>Per mile</strong>&nbsp;${{ data.order.perMile | number:'1.2-2'}}</div>
        <div><strong>On pickup</strong>&nbsp;${{ data.order.amountOnPickup | number:'1.2-2'}}</div>
        <div><strong>On delivery</strong>&nbsp;${{ data.order.amountOnDelivery | number:'1.2-2'}}</div>
    </mat-card>
    <div id="termsAndConditions">
        <h2>Terms and conditions</h2>
        <div [innerHTML]="data.orderCarrier.termsAndConditions" class="simpleBorder"></div>
    </div>
    <div id="inviteOrder">
        <button mat-stroked-button (click)="onCloseClick()" type="button">Close</button>
        <button mat-stroked-button [mat-dialog-close] type="submit" (click)="onSubmit('ACCEPTED')">ACCEPT</button>
        <button mat-stroked-button [mat-dialog-close] type="submit" (click)="onSubmit('DECLINED')">DECLINE</button>
    </div>
</form>
