// #dialog {
//   display: grid;
//   grid-template-areas: "inviteForm termsAndConditions";
//   grid-template-columns: 1fr 2fr;
//   grid-template-rows: 1fr;
//   gap: 1vw;
//   // box-sizing: border-box;
//   // margin: 20px;
//   // align-content: start;
//   // padding: 10px;
// }
#inviteForm {
  grid-area: inviteForm;
  display: grid;
  grid-template-areas: "summary termsAndConditions termsAndConditions"
                       "inviteOrder inviteOrder inviteOrder";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 2vh;
  padding-top: 20px;
}

#summary {
  grid-area: summary;
  display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: repeat(8, auto);
  gap: 1vh;
  align-content: start;
  // margin-bottom: 10px;
}
#summary > div > strong {
  color: gray;
}

#termsAndConditions {
  /* overflow: hidden; */
  grid-area: termsAndConditions;
  // height: 40%;
  overflow-y: auto;
  // padding: 20px;
}
#termsAndConditions > h2 {
  color: gray;
}
// #termsAndConditions > div {
//   overflow-y: auto;
// }

#inviteOrder {
grid-area: inviteOrder;
// display: flex;
// align-items: center;
// display: inline-block;
// bottom: 0;
// justify-items: right;
// display: flex;
// grid-template-columns: 1fr 1fr 1fr;
// grid-auto-columns: dense;
// justify-content: start;
}
#inviteOrder > button {
  // float: right;
}
