#dialog {
  display: grid;
  grid-template-areas: "inviteForm map";
  grid-template-columns: 1fr 2fr;
  gap: 1vw;
}
#inviteForm {
grid-area: inviteForm;
// display: grid;
// grid-template-areas: "main"
//                      "askToBook";
// grid-template-columns: 1fr;
// grid-template-rows: 1fr 50px;
}
#main {
grid-area: main;
display: grid;
grid-template-areas:
  // "bookLoadHeading      bookLoadHeading     .                     .                     "
  "carrierPay           carrierPay          .                     .                     "
  "daysToPay            daysToPay           paymentTermBegins     paymentTermBegins     "
  "committedPickupDate  committedPickupDate committedDeliveryDate committedDeliveryDate "
  "offerReason          offerReason         offerReason           offerValidity         "
  "summary              summary             summary               summary               "
  "inviteOrder          inviteOrder         inviteOrder           inviteOrder           ";
grid-template-columns: repeat(4, auto);
column-gap: 1vw;
row-gap: 1vh;
// overflow-y: auto;
}
// #bookLoadHeading {
//   grid-area: bookLoadHeading;
// }
// #distance {
//   grid-area: distance;
// }
#carrierPay {
grid-area: carrierPay;
}
#daysToPay {
grid-area: daysToPay;
}
#paymentTermBegins {
grid-area: paymentTermBegins;
}
#committedPickupDate {
grid-area: committedPickupDate;
}
#committedDeliveryDate {
grid-area: committedDeliveryDate;
}
#offerReason {
grid-area: offerReason;
}
#offerValidity {
grid-area: offerValidity;
}
// #askToBook {
//   grid-area: askToBook;
// }
#summary {
grid-area: summary;
margin-bottom: 10px;
}
#inviteOrder {
grid-area: inviteOrder;
// display: inline-block;
// bottom: 0;
}

#map {
/* overflow: hidden; */
grid-area: map;
height: 100%;
}

// .example-custom-date-class {
//   background: orange;
//   border-radius: 100%;
// }

// .mat-calendar-body-cell-content.mat-calendar-body-selected {
//   color: red !important;
// }
// .mat-calendar-body-selected {
//   color: red !important;
// }
// agm-map {
// height: 100%;
// width: 100%;
// }
