form {
    /* display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 50px; */
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* margin: auto; */
    grid-row-gap: 2vh;
    /* min-height: 100%; */
    /* min-width: 47vw; */
    /* min-height: 74vh; */
    margin: auto;
    height: auto;
    padding: 10px;
  }

  li {
    // margin: 0 auto;
    list-style-type: none;
  }
  .autocomplete {
    padding: 15px;
  }
  .ng-autocomplete {
    width: 400px; 
  }
  
  footer {
    max-height: 10vh;
    display: grid;
    /* grid-template-columns: auto min-content min-content; */
    /* column-gap: .5vw; */
    /* padding: 1.25vw; */
    /* padding-top: 1vw;
    padding-bottom: 1vw; */
    justify-items: right;
  
    /* position: sticky;
    bottom: 0;  */
    /* width: 100%; */
    background-color: inherit;
    /* border: none; */
  }
  