<mat-toolbar mat-dialog-title color="primary">Shipper Load ID # {{data.id}}</mat-toolbar>
<!-- {{ let order=data }} -->
<form id="askToBookForm" [formGroup]="bookingRequestForm" (ngSubmit)="onSubmit()">
    <main mat-dialog-content>
        <h4 id="bookLoadHeading" class="mat-headline">Book Load</h4>

        <mat-form-field id="carrierPay">
            <input matInput formControlName="carrierPay" placeholder="Price" inputmode="numeric" digitOnly decimal=true autocomplete=off>
            <mat-hint>Make an Offer</mat-hint>
        </mat-form-field>
        <mat-form-field id="daysToPay">
            <mat-label>Days to Pay</mat-label>
            <mat-select formControlName="daysToPay">
                <mat-option *ngFor="let day of daysToPay" [value]="day">
                    {{ day }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field id="paymentTermBegins">
            <mat-select id="paymentTermBegins" formControlName="paymentTermBegins" placeholder="Payment Term Begins"
                required>
                <mat-option *ngFor="let termBegins of paymentTermBegins" [value]="termBegins">
                    {{ termBegins }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field id="committedPickupDate">
            <input matInput formControlName="committedPickupDate" [matDatepicker]="committedPickupDate" placeholder="Pickup Date"
                [min]="data.pickupDates['begin']" [max]="data.pickupDates['end']" [value]="selectedPickupDate">
            <mat-datepicker-toggle matSuffix [for]="committedPickupDate"></mat-datepicker-toggle>
            <mat-datepicker #committedPickupDate></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field id="committedDeliveryDate">
            <input matInput formControlName="committedDeliveryDate" [matDatepicker]="committedDeliveryDate" placeholder="Delivery Date"
                [min]="data.deliveryDates['begin']" [max]="data.deliveryDates['end']" [value]="selectedDeliveryDate">
            <mat-datepicker-toggle matSuffix [for]="committedDeliveryDate"></mat-datepicker-toggle>
            <mat-datepicker #committedDeliveryDate></mat-datepicker>
        </mat-form-field>
        <mat-form-field id="offerReason">
            <mat-label>Offer Reason</mat-label>
            <mat-select formControlName="offerReason">
                <mat-option *ngFor="let reason of offerReason" [value]="reason">
                    {{ reason }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field id="offerValidity">
            <mat-label>Offer Validity</mat-label>
            <mat-select formControlName="offerValidity">
                <mat-option *ngFor="let validity of offerValidity" [value]="validity">
                    {{ validity }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <div id="askToBook">
        <button mat-stroked-button type="button" (click)="closeDialog()">Close</button>&nbsp;
        <button id="askToBook" mat-stroked-button type="submit">BOOKING REQUEST</button>
        </div>
        <strong>{{ data.distance * 0.00062137 | number:'1.2-2'}} mi</strong>
        <mat-card id="summary">
            <div matLine id="grid1">
                <div>{{ data.pickupAddress }}</div>
                <div>EST. {{ data.pickupDates.begin }} - EST. {{ data.pickupDates.end }}</div>
                <div># <b>{{ data.id }}</b></div>
            </div>

            <div matLine id="grid2">
                <div>{{ data.deliveryAddress }}</div>
                <div>EST. {{ data.deliveryDates.begin }} - EST. {{ data.deliveryDates.end }}</div>
            </div>
        </mat-card>
    </main>
    <div #mapContainer id="map">
        <!-- <agm-marker [latitude]="data.pickupLatitude" [longitude]="data.pickupLongitude"></agm-marker>
        <agm-marker [latitude]="data.deliveryLatitude" [longitude]="data.deliveryLongitude"></agm-marker> -->
    </div>
</form>