<!-- <main> -->
    <div class="dashboard">
        <div id="ordersPickupToday" class="w3-card"><mat-card-title><span class="count">{{ ordersPickupToday }}</span> ORDERS for pickup today</mat-card-title></div>
        <div id="ordersDeliveryToday" class="w3-card"><mat-card-title><span class="count">{{ ordersDeliveryToday }}</span>  ORDERS for delivery today</mat-card-title></div>
        <div id="paymentsPendingToday" class="w3-card"><mat-card-title><span class="count">{{ paymentsPendingToday }}</span>  PAYMENTS pending for today</mat-card-title></div>
        <div id="recentDriverActivity" class="w3-card"><mat-card-subtitle>RECENT DRIVER ACTIVITY</mat-card-subtitle></div>
        <div id="payments" class="w3-card"><mat-card-subtitle>PAYMENTS</mat-card-subtitle></div>
        <div id="delayedPickupsDeliveries" class="w3-card"><mat-card-subtitle>DELAYED PICKUPS AND DELIVERIES</mat-card-subtitle></div>
        <!-- <footer id="pageFooter">Footer</footer> -->
    </div>
<!-- </main> -->