@import "@angular/material/prebuilt-themes/indigo-pink.css";

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~saturn-datepicker/bundle.css";
@import 'assets/css/toastr.css';

// $bgcolor: rgb(235, 240, 243);
// $bgcolor: lighten(#9BBCD4, 20%);
$bgcolor: #E5EDF4;

* {
  /* font-family: 'Times New Roman', Times, serif */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background-color: rgb(215, 231, 241); */
  background-color: $bgcolor;
  /* background-color: #fdfdfd; */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* html, body {  */
/* height: 100vh; */
/* width: 100vw; */
/* } */

h4 {
  color: grey;
}

mat-dialog-container {
  /* padding: 5px !important;
  margin: auto !important;
  border-radius: 25px !important;
  overflow: inherit !important; */
}

.mat-toolbar, .mat-dialog-title {
  /* position: sticky;
  top: 0;
  z-index: 1; */
  justify-content: center !important;
  text-align: center !important;
  line-height: 64px;
  /* box-shadow: 0 10px 10px lightgray */
  /* box-shadow: 10 5px 5px #999; */
}

/* Buttons */

.basic-button {
  // border: ipx solid black;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  // justify-self: center;
  // text-align: center;
  text-decoration: none;
  // display: inline-block;
  background-color: #f0f0f0;
  padding: 8px 15px;
  font-size: .9rem;
  color: gray;
}

button[type=submit] {
  /* border: 5px solid; */
  /* margin-right: 1vw;
  border-radius: 25px; */
}

// button:disabled, button[disabled] {
//   background-color: cornflowerblue;
// }

/* button[type=button] {
  border-radius: 25px;
} */

// button[type=button]:hover {
//   background-color: #f0f0f0;
// }

.addButton {
  /* border-radius: 25px; */
  border: none;
  outline: none;
  cursor: pointer;
  // justify-self: center;
  // text-align: center;
  text-decoration: none;
  // display: inline-block;
  background-color: #f0f0f0;
  padding: 7px 10px;
  font-size: 1rem;
  color: gray;
  // white-space: nowrap;
  // line-height: 1;
}
.addButton::after {
  // font-family: "material-icons";
  content: " +";
}

.mat-flat-button {
  border-radius: 25px;
}

.rectangle {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    font-size: small;
    text-decoration: none;
    margin: auto;
    /* opacity: 0.7; */
    background-color: rgba(255, 255, 255, 0);
    /* color: rgba(255, 255, 255, 0); */
    border: 1px solid rgb(19, 192, 77);
    border-radius: 20px;
    cursor: pointer;
}

.rectangle:active {
  background-color: rgb(19, 192, 77);
  /* opacity: 0.5; */
  border: 1px solid rgb(0, 0, 170);
}
.blueButton {
    background-color: rgb(108, 108, 255);
    /* opacity: 0.5; */
    border: 1px solid rgb(0, 0, 170);
}

.redButton {
    background-color: rgb(129, 0, 0);
    /* opacity: 0.5; */
}

.greenButton {
    background-color: rgb(0, 128, 0);
    /* opacity: 0.5; */
}

.rectangle mat-icon {
    font-size: small;
}

.backdropBackground {
  background-color: rgba(0, 0, 0, 0.4);
}

.backdropBackgroundTransparent {
  background-color: transparent;
}

.ovalButton {
  background-color: dimgray;
  border-radius: 5px;
  font-size: small;
  color: white;
  /* padding: 10px; */
  outline: none;
  line-height: 35px;
  cursor: pointer;
}

.ovalButton:hover {
  // border: 1px solid white;
  -webkit-box-shadow: 0px 0px 5px 0px lightblue !important;
  -moz-box-shadow: 0px 0px 5px 0px lightblue !important;
  box-shadow: 0px 0px 5px 0px lightblue !important;
}

.ovalButtonChecked {
  /* background-color: rgb(87, 143, 226); */
  background-color: cornflowerblue;
  // border: 1px solid white;
  border-radius: 5px;
  /* border: 1px solid rgb(19, 192, 77); */
  // -webkit-box-shadow: 0px 0px 5px 0px lightblue !important;
  // -moz-box-shadow: 0px 0px 5px 0px lightblue !important;
  // box-shadow: 0px 0px 5px 0px lightblue !important;
  font-size: small;
  color: white;
  outline: none;
  text-decoration: underline;
  line-height: 35px;
  cursor: pointer;
  /* text-decoration: none; */
}

.ovalShape {
  /* background-color: ; */
  /* border: 1px solid green; */
  border-radius: 25px !important;
  font-size: medium;
  color: white;
  background-color: darken(cornflowerblue, 20%);
  /* padding: 10px; */
  /* outline: none; */
  padding: 7px 20px 7px 20px;
  // line-height: 20px !important
  /* margin-bottom: 0; */
  // -webkit-box-shadow: 0px 5px 40px -10px lightblue !important;
  // -moz-box-shadow: 0px 5px 40px -10px lightblue !important;
  // box-shadow: 0px 5px 40px -10px lightblue !important;
}
.ovalShapeDisabled {
  border-radius: 25px !important;
  font-size: medium;
  color: white;
  background-color: lighten(cornflowerblue, 10%);
  padding: 7px 20px 7px 20px;
}

.rectangleButtonAction {
  background-color: dimgray;
  border-radius: 5px;
  font-size: inherit;
  color: white;
  /* padding: 10px; */
  outline: none;
  border: none;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.hilight {
  // background-color: lighten(yellowgreen, 25%);
  border-radius: 25px;
  border: 2px solid yellowgreen;
  padding: 5px 10px;
  font-size: medium;
}

// .ovalShape:hover {
//   -webkit-box-shadow: 0px 0px 9px 2px rgba(100, 149, 237, 0.75);
//   -moz-box-shadow: 0px 0px 9px 2px rgba(100, 149, 237, 0.75);
//   box-shadow: 0px 0px 9px 2px rgba(100, 149, 237, 0.75);
// }

.is-active {
  /* color: chartreuse; */
  /* background-color: yellow; */
  /* background-color: aliceblue; */
  /* border: 1px solid; */
}

/* .mat-list-item-content:active {
  color: chartreuse !important;
  background-color: green !important;
  /* border: 1px solid !important */



/* .ovalButtonChecked mat-icon {
  margin: auto;
  outline: none;
} */

/* .inactive {
  color: #cccccc;
} */

.selectedListItem {
  // background-color: rgb(235, 240, 243);
  background-color: $bgcolor;
}

.loading{
  color: white;
  padding-top: 50px;
}

.pagination {
  background: white;
  justify-self: center;
}

// Radio buttons
.radio-toolbar {
  margin: 10px;
}
.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.radio-toolbar label {
  display: inline-block;
  background-color: inherit;
  padding: 5px 10px;
  // font-family: sans-serif, Arial;
  font-size: 12px;
  border: 1px solid lighten(lightgray, 10%);
  // border-radius: 3px;
}
.radio-toolbar label:hover {
  background-color: rgb(236, 236, 236);
}
.radio-toolbar label::-moz-selection {
  background-color: inherit;
}
.radio-toolbar label::selection {
  background-color: inherit;
}
.radio-toolbar input[type="radio"]:focus + label {
  // border: 1px dashed blue;
}
.radio-toolbar input[type="radio"]:checked + label {
  background-color: lighten(silver, 10%);
  border-color: gray;
}

mat-toolbar {
  align-content: center;
}

mat-card {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(155, 155, 155, 0.3) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(155, 155, 155 ,0.3) !important;
  box-shadow: 0px 0px 10px 0px rgba(155, 155, 155, 0.3) !important;
  border-radius: 0px !important;
}

.mat-card-subtitle {
  font-weight: bold;
  /* color: black; */
  font-size: large;
}

mat-dialog-content {
  background-color: inherit !important;
}

.close {
  cursor: pointer;
  color: gray;
}

.simpleBorder {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
}

/* app-order */
app-order {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: auto 1fr; */
  justify-items: center;
  /* grid-gap: 2vw; */
  /* background-color: pink; */
  /* height: 100vh; */
  /* width: 100vh; */
  /* margin-left: 130px; */
}

/* app-order-list */
/* app-order-list {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    background-color: lightgray;
    height: 100vh;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
