@import "@angular/material/prebuilt-themes/indigo-pink.scss";

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import "~saturn-datepicker/bundle.scss";

* {
  /* font-family: 'Times New Roman', Times, serif */
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background-color: rgb(215, 231, 241); */
  background-color: rgb(235, 240, 243);
  /* background-color: #fdfdfd; */
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
  /* overflow: hidden; */
  height: 100%;
  width: 100%;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
/* html, body {  */
/* height: 100vh; */
/* width: 100vw; */
/* } */

h4 {
  color: grey;
}

mat-dialog-container {
  /* padding: 5px !important;
  margin: auto !important;
  border-radius: 25px !important;
  overflow: inherit !important; */
}

mat-toolbar, mat-dialog-title {
  /* position: sticky;
  top: 0;
  z-index: 1; */
  justify-content: center !important;
  text-align: center !important;
  /* box-shadow: 0 10px 10px lightgray */
  /* box-shadow: 10 5px 5px #999; */
}

/* Buttons */

button[type=submit] {
  /* border: 5px solid; */
  /* margin-right: 1vw;
  border-radius: 25px; */
}

/* button[type=button] {
  border-radius: 25px;
} */

button[type=button]:hover {
  background-color: #f0f0f0;
}

.addButton {
  /* border-radius: 25px; */
  border: none;
  outline: none;
  cursor: pointer;
  justify-self: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #f0f0f0;
  padding: 7px 28px;
  font-size: 1rem;
  color: gray;
  white-space: nowrap;
  line-height: 1;
}
/* .addButton::after {
  font-family: "Material Icons";
  content: " +";
} */

.mat-flat-button {
  border-radius: 25px;
}

.rectangle {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 10px;
    padding-bottom: 10px; */
    font-size: small;
    text-decoration: none;
    margin: auto;
    /* opacity: 0.7; */
    background-color: rgba(255, 255, 255, 0);
    /* color: rgba(255, 255, 255, 0); */
    border: 1px solid rgb(19, 192, 77);
    border-radius: 20px;
    cursor: pointer;
}

.class1 {
  background-color: white;
}
.class2 {
  background-color: chartreuse;
  border: 1px solid rgb(19, 192, 77);
  border-radius: 20px;
}

.rectangle:active {
  background-color: rgb(19, 192, 77);
  /* opacity: 0.5; */
  border: 1px solid rgb(0, 0, 170);
}
.blueButton {
    background-color: rgb(108, 108, 255);
    /* opacity: 0.5; */
    border: 1px solid rgb(0, 0, 170);
}

.redButton {
    background-color: rgb(129, 0, 0);
    /* opacity: 0.5; */
}

.greenButton {
    background-color: rgb(0, 128, 0);
    /* opacity: 0.5; */
}

.rectangle mat-icon {
    font-size: small;
}

.backdropBackground {
  background-color: rgba(0, 0, 0, 0.4);
}

.ovalButton {
  background-color: dimgray;
  border-radius: 25px;
  font-size: small;
  color: white;
  /* padding: 10px; */
  outline: none;
  cursor: pointer;
}

.ovalButtonChecked {
  /* background-color: rgb(87, 143, 226); */
  background-color: cornflowerblue;
  border-radius: 25px;
  /* border: 1px solid rgb(19, 192, 77); */
  -webkit-box-shadow: 0px 0px 5px 0px lightblue !important;
  -moz-box-shadow: 0px 0px 5px 0px lightblue !important;
  box-shadow: 0px 0px 5px 0px lightblue !important;
  font-size: small;
  color: white;
  outline: none;
  text-decoration: underline;
  cursor: pointer;
  /* text-decoration: none; */
}

.ovalShape {
  /* background-color: ; */
  /* border: 1px solid green; */
  border-radius: 25px;
  font-size: medium;
  color: white;
  background-color: darkblue;
  /* padding: 10px; */
  /* outline: none; */
  padding: 7px 20px 7px 20px;
  /* margin-bottom: 0; */
}

.is-active {
  /* color: chartreuse; */
  /* background-color: yellow; */
  /* background-color: aliceblue; */
  /* border: 1px solid; */
}

/* .mat-list-item-content:active {
  color: chartreuse !important;
  background-color: green !important;
  /* border: 1px solid !important */



/* .ovalButtonChecked mat-icon {
  margin: auto;
  outline: none;
} */

/* .inactive {
  color: #cccccc;
} */

.selectedListItem {
  background-color: rgb(235, 240, 243);
}

mat-toolbar {
  align-content: center;
}

mat-card {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(155, 155, 155, 0.3) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(155, 155, 155 ,0.3) !important;
  box-shadow: 0px 0px 10px 0px rgba(155, 155, 155, 0.3) !important;
  border-radius: 0px !important;
}

.mat-card-subtitle {
  font-weight: bold;
  /* color: black; */
  font-size: large;
}

mat-dialog-content {
  background-color: inherit !important;
}

.close {
  cursor: pointer;
  color: gray;
}

/* app-order */
app-order {
  /* display: grid; */
  /* grid-template-columns: 1fr; */
  /* grid-template-rows: auto 1fr; */
  justify-items: center;
  /* grid-gap: 2vw; */
  /* background-color: pink; */
  /* height: 100vh; */
  /* width: 100vh; */
  /* margin-left: 130px; */
}

/* app-order-list */
/* app-order-list {
    display: grid;
    justify-items: center;
    grid-template-columns: auto;
    background-color: lightgray;
    height: 100vh;
} */
