<div class="loginDiv">
    <!-- <div class="insideDiv"> -->
    <!-- <div class="border"> -->
    <div class="insideDiv">
        <!-- <div class="logo">Transport App</div> -->
        <div id="signIn">SIGN IN</div>
        <div id="signUp" class="inactive"><a [routerLink]="['/register']">SIGN UP</a></div>

        <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <mat-form-field id="email">
                <input matInput formControlName="email" placeholder="Email" required>
                <mat-error *ngIf="errorHandler.handleError(formControls, 'email', 'required')">
                    {{ errorHandler.validationMessages['required'] }}
                </mat-error>
                <mat-error *ngIf="errorHandler.handleError(formControls, 'email', 'email')">
                    {{ errorHandler.validationMessages['email'] }}
                </mat-error>
            </mat-form-field>

            <mat-form-field id="password">
                <input matInput formControlName="password" type="password" placeholder="Password" required>
                <mat-error *ngIf="errorHandler.handleError(formControls, 'password', 'required')">
                    {{ errorHandler.validationMessages['required'] }}
                </mat-error>
            </mat-form-field>
            <div id="loginError" *ngIf="invalid">{{ errorHandler.validationMessages['invalidCredentials'] }}</div>

            <button id="submitButton" type="submit">LOGIN</button>
        </form>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>
<!-- <a routerLink="register">Sign up</a> -->