<form id="orderForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field id="email">
        <input matInput formControlName="email" type="text" placeholder="Email">
    </mat-form-field>
    <mat-form-field id="password">
        <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-form-field>
    <button mat-flat-button color="primary" id="submitButton" type="submit">Login</button>
</form>
<a [routerLink]="['/register']">Sign up</a>
<!-- <a routerLink="register">Sign up</a> -->