<!-- <div id="options">
    <p>App logo</p>
    <br />
    <div><a [routerLink]="['/']">Dashboard</a></div>
    <br />
    <div><a [routerLink]="['/order']">Create Order</a></div>
    <br />
    <div><a [routerLink]="['/orders']">All Orders</a></div>
</div> -->
<main>
        <div id="logo" [routerLink]="['/']">
            <b>Transport<br>App<br>Logo</b>
        </div>
        <div id="book_loads" *ngIf="!isDriver()">
            <div>BOOK<br><b>LOADS</b><br>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
            <div [routerLink]="['/loadboard']">
                <mat-icon>search</mat-icon>
                <div>Load Board</div>
            </div>
        </div>
        <div id="manage_orders">
            <div>MANAGE<br><b>ORDERS</b><br>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
            <div [routerLink]="['/']">
                <mat-icon>dashboard</mat-icon>
                <div>Dashboard</div>
            </div>
            <div [routerLink]="['/order']" *ngIf="!isDriver()">
                <mat-icon>add</mat-icon>
                <div>Import/ Create<br>Order</div>
            </div>
            <div [routerLink]="['/orders']">
                <mat-icon>list</mat-icon>
                <div>All Orders</div>
            </div>
        </div>
    </main>
    <div id="loggedInAs" style="float:bottom; font-size: xx-small; color: white;">{{loggedInAs()}}</div>
    <button id="logout" (click)="logout()">Logout</button>