<!-- <div id="options">
    <p>App logo</p>
    <br />
    <div><a [routerLink]="['/']">Dashboard</a></div>
    <br />
    <div><a [routerLink]="['/order']">Create Order</a></div>
    <br />
    <div><a [routerLink]="['/orders']">All Orders</a></div>
</div> -->
<main>
    <div id="logo" [routerLink]="['/']">
        <b>Transport<br>App<br>Logo</b>
    </div>
    <mat-divider></mat-divider>
    <div id="book_loads" *ngIf="!isDriver()">
        <div>BOOK<br><b>ORDERS</b><br>
            <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
        </div>
        <div [routerLink]="['/loadboard']">
            <mat-icon>search</mat-icon>
            <div>Load Board</div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <!-- <mat-divider></mat-divider> -->
    <div id="manage_orders">
        <div>MANAGE<br><b>ORDERS</b><br>
            <!-- <mat-icon>keyboard_arrow_down</mat-icon> -->
        </div>
        <div [routerLink]="['/']">
            <mat-icon>dashboard</mat-icon>
            <div>Dashboard</div>
        </div>
        <div [routerLink]="['/order']" *ngIf="!isDriver()">
            <mat-icon>add</mat-icon>
            <div>Create Order</div>
        </div>
        <div [routerLink]="['/orders']">
            <mat-icon>list</mat-icon>
            <div>All Orders</div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <!-- <div id="loggedInAs" style="font-size: xx-small; color: white;">{{loggedInAs()}}</div> -->
    <div id="loggedInAs" style="font-size: xx-small; color: white;">
        <mat-icon>person</mat-icon><br>
        {{loggedInAs()}}
    </div>
    <div style="font-size: x-small; color: white;">{{type()}}</div>
    <!-- <button mat-raised-button id="loggedInAs" matTooltip="Info about the action" matTooltipPosition="after">
        <mat-icon>person</mat-icon><br>
        {{loggedInAs()}}
    </button> -->
    <div id="preferences" (click)="openPreferencesDialog()"><mat-icon>settings</mat-icon><div>Settings</div></div>
    <mat-divider></mat-divider>
    <div><button id="logout" (click)="logout()">Logout</button></div>
</main>
